body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

#game-board {
    margin: 2rem;
}

.game-row {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.game-number{
    font-size: 5rem;
    text-align: center;
    width: 7rem;
}

#game-info-score-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.top-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.opacity-50 {
    opacity: 0.5;
}

.end-game {
    position: absolute;
    margin-top: 10rem;
    margin-left: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    font-size: larger;
}

.invisible {
    display: none;
}